<!--container begin-->
<div id="container" class="bound">
  <div class="content_user">
    <%= render 'users/usercenter_left' %>

    <div class="usercenter_right left">
      <%= render 'users/usercenter_right_top', :object => @page_name %>

      <div class="usercenter_right_cen">
        <div class="user_inside_content">
          <div class="user_inside_sub">
            <ul>
              <li><a class="current_m" href="">修改登录密码</a></li>
              <li><a href="">修改安全交易码</a></li>
              <li><a href="">找回安全交易码</a></li>
              <li><a href="">修改密码保护</a></li>
              <li><a href="">异地保护功能</a></li>
            </ul>
          </div>
          <!--user_inside_sub-->
          <div class="user_inside_table"></div>
          <%= form_tag do %>
              <div class="ur_data_table">

                <table width="740" border="0" cellspacing="0" cellpadding="0" valign="middle">
                  <tbody>
                  <tr>
                    <td class="data_td1">安全交易码：</td>
                    <td class="data_td2"><%= password_field_tag :code, params[:code], class: 'user-inside-input' %> </td>
                  </tr>
                  <tr>
                    <td class="data_td1">新登录密码：</td>
                    <td class="data_td2"><%= password_field_tag :password, params[:password], class: 'user-inside-input' %></td>
                  </tr>
                  <tr>
                    <td class="data_td1">确认密码：</td>
                    <td class="data_td2">
                      <%= password_field_tag :password_confirmation, params[:password_confirmation], class: 'user-inside-input' %>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="ur_data_button_wrap">
                <%= submit_tag '', class: 'ur_data_button' %>
              </div>
          <% end %>
        </div>
        <!--user_inside_content-->
      </div>
      <!--usercenter_right_cen-->

    </div>
    <!--usercenter_right end-->
  </div>
  <!--content_user end-->
</div>
<!--container end-->