<!--container begin-->
  <div id="container" class="bound">
	<div class="content_user">
		<div class="content-user-tp"><b></b></div>
		<div class="usercenter_left left">
			<div class="user-subnav">
				<dl class="user-subnav-group">
					<dt><a class="item-wrap" href=""><span>首页</span></a></dt>
				</dl>
				<b class="user-subnav-spl"></b>
				<dl class="user-subnav-group">
					<dt><span class="item-wrap"><span>应用信息</span></span></dt>
					<dd><a class="item-wrap" href="myLog.asp"><span>交易明细</span></a></dd>
					<dd><a class="item-wrap" href="useedit.asp"><span>资料修改</span></a></dd>
					<dd><a class="item-wrap" href="smsList.asp"><span>站内短信</span></a></dd>
				</dl>
				<b class="user-subnav-spl"></b>
				<dl class="user-subnav-group">
					<dt><span class="item-wrap"><span>我的货币</span></span></dt>
					<dd><a class="item-wrap" href="chong.asp"><span>账户充值</span></a></dd>
					<dd><a class="item-wrap" href="tixian.asp"><span>提现申请</span></a></dd>
					<dd><a class="item-wrap" href="/platform/gift.asp"><span>申请VIP</span></a></dd>
				</dl>
				<b class="user-subnav-spl"></b>
				<dl class="user-subnav-group">
					<dt><span class="item-wrap"><span>账号管理</span></span></dt>
          <dd><%= link_to '密码管理', {:controller => 'admin', :action => 'password'}, :class => 'item-wrap item-current' %></dd>
					<dd><a class="item-wrap" href="myTie.asp"><span>我的家园</span></a></dd>
					<dd><a class="item-wrap" href="NewPushAd.asp"><span>我的推广</span></a></dd>
				</dl>
	
				<b class="user-subnav-spl"></b>
				<dl class="user-subnav-group">
					<dt><span class="item-wrap"><span>投诉中心</span></span></dt>
					<dd><a class="item-wrap" href="myShensuList.asp"><span>投诉列表</span></a></dd>
				</dl>
			</div>
		</div>
		
		<div class="usercenter_right left">
			<div class="usercenter_right_top">
				<h3>当前位置：<a href="/">管理中心首页</a> &gt; <em>资料修改</em></h3>
				<div class="usercenter_righ_quick">
					<ul>
						<li class="U-R-icon01"><a href="">购买货币</a></li>
						<li class="U-R-icon02"><a href="">账户充值</a></li>
						<li class="U-R-icon03"><a href="">推广中心</a></li>
						<li class="U-R-icon04"><a href="">帮助中心</a></li>
					</ul>
				</div>
			</div>
			
			<div class="usercenter_right_cen">
				<div class="user_inside_content">
					<div class="user_inside_sub">
						<ul>
							<li><a class="current_m" href="">修改登录密码</a></li>
							<li><a href="">修改安全交易码</a></li>
							<li><a href="">找回安全交易码</a></li>
							<li><a href="">修改密码保护</a></li>
							<li><a href="">异地保护功能</a></li>
						</ul>
					 </div><!--user_inside_sub-->
					 <div class="user_inside_table"></div>
          <%= form_tag do %>
					<div class="ur_data_table">

						<table width="740" border="0" cellspacing="0" cellpadding="0" valign="middle">
							<tbody>
							<tr>
								<td class="data_td1">安全交易码：</td>
								<td class="data_td2"><%= password_field_tag :code, params[:code], class: 'user-inside-input' %> </td>                
							</tr>
							<tr>
								<td class="data_td1">新登录密码：</td>
								<td class="data_td2"><%= password_field_tag :password, params[:password], class: 'user-inside-input' %></td>
							</tr>
							<tr>
								<td class="data_td1">确认密码：</td>
								<td class="data_td2">
                  <%= password_field_tag :password_confirmation, params[:password_confirmation], class: 'user-inside-input' %>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="ur_data_button_wrap">
            <%= submit_tag '', class: 'ur_data_button' %>
					</div>
          <% end %>
				</div><!--user_inside_content-->
			</div><!--usercenter_right_cen-->
			
		</div><!--usercenter_right end-->
	</div><!--content_user end-->
</div>
<!--container end-->