<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "姓名" %>:
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :password, "密码" %>:
    <%= f.password_field :password, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "确认密码" %>:
    <%= f.password_field :password_confirmationm, :size => 40 %>
  </div>

  <div class="field">
    个人资料
  </div>
  <div class="field">
    <label for="realname">真实姓名：</label>
    <%= text_field_tag :realname, params[:realname] %>
  </div>
  <div class="field">
    <label for="sex">性别:</label>
    <%= radio_button_tag(:sex, 0) %>
    <%= label_tag(:sex, "男") %>
    <%= radio_button_tag(:sex, 1) %>
    <%= label_tag(:sex, "女") %>
  </div>
  <div class="field">
    <label for="qq">QQ号码：</label>
    <%= text_field_tag :qq, params[:qq] %>
  </div>
  <div class="field">
    <label for="email">Email：</label>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <label for="telphone">手机号码：</label>
    <%= text_field_tag :telphone, params[:telphone] %>
  </div>
  <div class="field">
    <label for="recommend_man">推荐人：</label>
    <%= text_field_tag :recommend_man, params[:recommend_man] %>
  </div>
  <div class="actions">
    <%= f.submit '新建' %>
  </div>
<% end %>
