<!--container begin-->
<div id="container" class="bound">
  <%= render 'bbs_head' %>
  <div class="bbs_list_wrap">
    <table width="1002" border="0">
      <tbody>
      <tr class="bbs-tr1">
        <td class="bbs-td1" width="625">主题</td>
        <td class="bbs-td2" width="115">所在版块</td>
        <td class="bbs-td3" width="115">回复查看</td>
        <td class="bbs-td4">最后发表</td>
      </tr>

      <% @posts.each do |post| %>
          <tr class="bbs-tr2">
            <td class="bbs-td1">
              <%= image_tag 'bbs-icon1.jpg' %>[ 精华 ]<%= image_tag 'bbs-icon2.jpg' %>
              <%= link_to post.content,
                          {
                                  :controller => 'posts',
                                  :action => 'show',
                                  :id => post.id},
                          {
                                  :target => '_blank',
                                  :style => 'font-size:14px; margin-left:5px; color:#FF0000;font-weight:bold;'
                          }
              %></td>
            <td class="bbs-td2"><a href="" style="color:#3372a2;">官方公告</a></td>
            <td class="bbs-td3">38/<em style="color:#ff4800;">5077</em></td>
            <td class="bbs-td4"><p><a href="" target="_blank" style="color:#3372a2;">引领风尚</a></p>

              <p style="color:#c4c4c4;"><%= post.created_at %></p></td>
          </tr>
      <% end %>

      </tbody>
    </table>

    <%= render 'pager_wrap' %>
  </div>
</div>
<!--container end-->

