<!--container begin-->
<div id="container" class="bound">
  <%= render 'bbs_head' %>
  <div class="bbs_title clearfix">
    <h3>
      <%= image_tag 'bbs-icon1.jpg' %>[ 精华 ]
      <%= image_tag 'bbs-icon2.jpg' %>
      <span style="font-size:14px; margin-left:5px; color:#FF0000;font-weight:bold;"><%= @post.title %></span>
      <em style="color:#ff4800; font-size:10px;">38</em><em style="color:#ff4800;  font-size:10px;">/5077</em>
    </h3>
  </div>


  <div class="bbs-content clearfix">

    <div class="bbs-left">
      <!--bbs-lc begin-->
      <div class="bbs-lc">
        <div class="bbs-lc-T clearfix">
          <dl class="clearfix">
            <dd><%= link_to image_tag('bbs-user-icon.jpg'), '' %></dd>
            <dt>
            <p><%= @user.name %></p>

            <p style="color:#666; margin-top:15px;">
              <%= link_to image_tag('jifenicon9.gif'), '', {:title => '会员等级积分：491810', :target => '_blank'} %>
            </p>
            </dt>
          </dl>
          <h4><!--<p>1楼</p>--><p style="color:#999999;"><%= @post.created_at %></p></h4>
        </div>
        <div class="bbs-lc-C">
          <p><%= @post.content %></p>
        </div>
        <div class="collect_reply">
          <a href="" style="color:red;">收藏该贴</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="" style="color:#006ca7;">回复</a>
        </div>
      </div>
      <!--bbs-lc end-->
      <div class="clear"></div>

      <%= render 'pager_wrap' %>
    </div>
    <!--bbs-left end-->

    <div class="bbs-right">
      <!--bbs-news st-->
      <div class="bbs-news">
        <div class="bbs-n-t clearfix">
          <h4>热门帖子</h4>

          <p><a href="Searchforumdisplay.Asp?fid=&amp;orderby=Hot" style="color:#006ca7;">更多</a></p>
        </div>
        <div class="bbs-n-l">
          <ul>
            <li>·<a href="view-15-1.html">谷得网·万人互动之葵花宝典·</a></li>
            <li>·<a href="view-16248-1.html">任务图标都是什么意思？</a></li>
          </ul>
        </div>
      </div>
      <!--bbs-news end-->
      <!--bbs-news st-->
      <div class="bbs-news">
        <div class="bbs-n-t clearfix">
          <h4>精华帖子</h4>

          <p><a href="Searchforumdisplay.Asp?fid=&amp;orderby=Good" style="color:#006ca7;">更多</a></p>
        </div>
        <div class="bbs-n-l">
          <ul>
            <li>·<a href="view-18990-1.html">关于发布方平台点发货，淘宝却</a></li>
            <li>·<a href="view-18989-1.html">平台新推出的“服务交易”还是</a></li>
          </ul>
        </div>
      </div>
      <!--bbs-news end-->
    </div>
  </div>
</div>
<!--container end-->