<%= form_for(@shopping_task) do |f| %>
  <% if @shopping_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_task.errors.count, "error") %> prohibited this shopping_task from being saved:</h2>

      <ul>
      <% @shopping_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :remind %><br>
    <%= f.text_field :remind %>
  </div>
  <div class="actions">
    <%= f.submit '新建' %>
  </div>
<% end %>
