<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商家互动平台</title>
<script type="text/javascript">

	
</script>
</head>

<body>
	<div class="task">
        <div class="task_list">
            <div class="task_list_top">
                <ul class="clearfix">
                    <li style="width:26px;">&nbsp;</li>
                    <li style="width:200px;">订单号</li>
                    <li style="width:125px;">发布人</li>
                    <li style="width:107px;">担保价格</li>
                    <li style="width:240px;">发布者要求</li>
                    <li style="width:146px;">发布状态</li>
                    <li style="width:112px;">操作</li>
                </ul>
            </div><!--task_list_top end-->
            <div class="task_list_content">
                <ul class="clearfix">
                    <li style="width:26px; margin-top:28px;"><%= image_tag 'task3day.png' %></li>
                    <li style="width:200px; margin-top:21px;">
                        <p style="font-size:12px; font-weight:bold;">2013112717143348566317611</p>
                        <p style="color:#848484; font-size:10px;">post time:2013-11-27 17:15:00</p>
                    </li>
                    <li style="width:125px; margin-top:21px">
                        <p><a target="_bank" href="" style="color:#3372a2;">yjx815</a></p>
                        <p>
                        <a href="" target="_blank" title="会员等级积分：1970">
                          <%= image_tag 'jifenicon6.gif' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:107px; margin-top:21px">
                        <p><em>123</em>元</p>
                        <p>13.5谷粒</p>
                    </li>
                    <li style="width:240px; margin-top:15px">
                        <p style="color:#009900;">3天后带字好评(+3倍谷粒)</p>
                        <p style="margin-top:5px;">
                        <a href="" target="_blank">
                          <%= image_tag 'task_lai.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为来路搜索进店任务' %>
                          <%= image_tag 'task_shen.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为审核任务，审核通过后方能看到链接' %>
                          <%= image_tag 'task_shi.jpg', :border => 0, :alt => '限制接手买号必须是通过了支付宝实名认证的才可接手此任务，需额外支付0.5个谷粒给接手方' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:156px; margin-top:30px">                       	
                        <p>等待任务接手人...</p>
            
                    </li>
                    <li style="width:112px;margin-top:25px">                	
                        <p>
                        	<a title="接手，并完成任务可获得存款和货币。" onclick="" class="jieshoubtn"></a>
                        </p>
                    </li>
                </ul>
            </div><!--task_list_content end-->
            <div class="clear"></div>
            <div class="task_list_content task_list_content2">
                <ul class="clearfix">
                    <li style="width:26px; margin-top:28px;"><%= image_tag 'task3day.png' %></li>
                    <li style="width:200px; margin-top:21px;">
                        <p style="font-size:12px; font-weight:bold;">2013112717143348566317611</p>
                        <p style="color:#848484; font-size:10px;">post time:2013-11-27 17:15:00</p>
                    </li>
                    <li style="width:125px; margin-top:21px">
                        <p><a target="_bank" href="" style="color:#3372a2;">yjx815</a></p>
                        <p>
                        <a href="" target="_blank" title="会员等级积分：1970">
                          <%= image_tag 'jifenicon6.gif' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:107px; margin-top:21px">
                        <p><em>123</em>元</p>
                        <p>13.5谷粒</p>
                    </li>
                    <li style="width:240px; margin-top:15px">
                        <p style="color:#009900;">3天后带字好评(+3倍谷粒)</p>
                        <p style="margin-top:5px;">
                        <a href="" target="_blank">
                          <%= image_tag 'task_lai.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为来路搜索进店任务' %>
                          <%= image_tag 'task_shen.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为审核任务，审核通过后方能看到链接' %>
                          <%= image_tag 'task_shi.jpg', :border => 0, :alt => '限制接手买号必须是通过了支付宝实名认证的才可接手此任务，需额外支付0.5个谷粒给接手方' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:156px; margin-top:30px">                       	
                        <p>等待任务接手人...</p>
            
                    </li>
                    <li style="width:112px;margin-top:25px">                	
                        <p>
                            <a title="接手，并完成任务可获得存款和货币。" onclick="" class="jieshoubtn"></a>
                        </p>
                    </li>
                </ul>
            </div><!--task_list_content end-->
            <div class="clear"></div>
			<div class="task_list_content">
                <ul class="clearfix">
                    <li style="width:26px; margin-top:28px;"><%= image_tag 'task3day.png' %></li>
                    <li style="width:200px; margin-top:21px;">
                        <p style="font-size:12px; font-weight:bold;">2013112717143348566317611</p>
                        <p style="color:#848484; font-size:10px;">post time:2013-11-27 17:15:00</p>
                    </li>
                    <li style="width:125px; margin-top:21px">
                        <p><a target="_bank" href="" style="color:#3372a2;">yjx815</a></p>
                        <p>
                        <a href="" target="_blank" title="会员等级积分：1970">
                          <%= image_tag 'jifenicon6.gif' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:107px; margin-top:21px">
                        <p><em>123</em>元</p>
                        <p>13.5谷粒</p>
                    </li>
                    <li style="width:240px; margin-top:15px">
                        <p style="color:#009900;">3天后带字好评(+3倍谷粒)</p>
                        <p style="margin-top:5px;">
                        <a href="" target="_blank">
                          <%= image_tag 'task_lai.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为来路搜索进店任务' %>
                          <%= image_tag 'task_shen.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为审核任务，审核通过后方能看到链接' %>
                          <%= image_tag 'task_shi.jpg', :border => 0, :alt => '限制接手买号必须是通过了支付宝实名认证的才可接手此任务，需额外支付0.5个谷粒给接手方' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:156px; margin-top:30px">                       	
                        <p>等待任务接手人...</p>
            
                    </li>
                    <li style="width:112px;margin-top:25px">                	
                        <p>
                        	<a title="接手，并完成任务可获得存款和货币。" onclick="" class="jieshoubtn"></a>
                        </p>
                    </li>
                </ul>
            </div><!--task_list_content end-->
            <div class="clear"></div>
            <div class="task_list_content task_list_content2">
                <ul class="clearfix">
                    <li style="width:26px; margin-top:28px;"><%= image_tag 'task3day.png' %></li>
                    <li style="width:200px; margin-top:21px;">
                        <p style="font-size:12px; font-weight:bold;">2013112717143348566317611</p>
                        <p style="color:#848484; font-size:10px;">post time:2013-11-27 17:15:00</p>
                    </li>
                    <li style="width:125px; margin-top:21px">
                        <p><a target="_bank" href="" style="color:#3372a2;">yjx815</a></p>
                        <p>
                        <a href="" target="_blank" title="会员等级积分：1970">
                        <%= image_tag 'jifenicon6.gif' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:107px; margin-top:21px">
                        <p><em>123</em>元</p>
                        <p>13.5谷粒</p>
                    </li>
                    <li style="width:240px; margin-top:15px">
                        <p style="color:#009900;">3天后带字好评(+3倍谷粒)</p>
                        <p style="margin-top:5px;">
                        <a href="" target="_blank">
                        <%= image_tag 'task_lai.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为来路搜索进店任务' %>
                        <%= image_tag 'task_shen.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为审核任务，审核通过后方能看到链接' %>
                        <%= image_tag 'task_shi.jpg', :border => 0, :alt => '限制接手买号必须是通过了支付宝实名认证的才可接手此任务，需额外支付0.5个谷粒给接手方' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:156px; margin-top:30px">                       	
                        <p>等待任务接手人...</p>
            
                    </li>
                    <li style="width:112px;margin-top:25px">                	
                        <p>
                            <a title="接手，并完成任务可获得存款和货币。" onclick="" class="jieshoubtn"></a>
                        </p>
                    </li>
                </ul>
            </div><!--task_list_content end-->
            <div class="clear"></div>
			<div class="task_list_content">
                <ul class="clearfix">
                    <li style="width:26px; margin-top:28px;"><%= image_tag 'task3day.png' %></li>
                    <li style="width:200px; margin-top:21px;">
                        <p style="font-size:12px; font-weight:bold;">2013112717143348566317611</p>
                        <p style="color:#848484; font-size:10px;">post time:2013-11-27 17:15:00</p>
                    </li>
                    <li style="width:125px; margin-top:21px">
                        <p><a target="_bank" href="" style="color:#3372a2;">yjx815</a></p>
                        <p>
                        <a href="" target="_blank" title="会员等级积分：1970">
                        <%= image_tag 'jifenicon6.gif' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:107px; margin-top:21px">
                        <p><em>123</em>元</p>
                        <p>13.5谷粒</p>
                    </li>
                    <li style="width:240px; margin-top:15px">
                        <p style="color:#009900;">3天后带字好评(+3倍谷粒)</p>
                        <p style="margin-top:5px;">
                        <a href="" target="_blank">
                        <%= image_tag 'task_lai.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为来路搜索进店任务' %>
                        <%= image_tag 'task_shen.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为审核任务，审核通过后方能看到链接' %>
                        <%= image_tag 'task_shi.jpg', :border => 0, :alt => '限制接手买号必须是通过了支付宝实名认证的才可接手此任务，需额外支付0.5个谷粒给接手方' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:156px; margin-top:30px">                       	
                        <p>等待任务接手人...</p>
            
                    </li>
                    <li style="width:112px;margin-top:25px">                	
                        <p>
                        	<a title="接手，并完成任务可获得存款和货币。" onclick="" class="jieshoubtn"></a>
                        </p>
                    </li>
                </ul>
            </div><!--task_list_content end-->
            <div class="clear"></div>
            <div class="task_list_content task_list_content2">
                <ul class="clearfix">
                    <li style="width:26px; margin-top:28px;"><%= image_tag 'task3day.png' %></li>
                    <li style="width:200px; margin-top:21px;">
                        <p style="font-size:12px; font-weight:bold;">2013112717143348566317611</p>
                        <p style="color:#848484; font-size:10px;">post time:2013-11-27 17:15:00</p>
                    </li>
                    <li style="width:125px; margin-top:21px">
                        <p><a target="_bank" href="" style="color:#3372a2;">yjx815</a></p>
                        <p>
                        <a href="" target="_blank" title="会员等级积分：1970">
                        <%= image_tag 'jifenicon6.gif' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:107px; margin-top:21px">
                        <p><em>123</em>元</p>
                        <p>13.5谷粒</p>
                    </li>
                    <li style="width:240px; margin-top:15px">
                        <p style="color:#009900;">3天后带字好评(+3倍谷粒)</p>
                        <p style="margin-top:5px;">
                        <a href="" target="_blank">
                        <%= image_tag 'task_lai.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为来路搜索进店任务' %>
                        <%= image_tag 'task_shen.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为审核任务，审核通过后方能看到链接' %>
                        <%= image_tag 'task_shi.jpg', :border => 0, :alt => '限制接手买号必须是通过了支付宝实名认证的才可接手此任务，需额外支付0.5个谷粒给接手方' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:156px; margin-top:30px">                       	
                        <p>等待任务接手人...</p>
            
                    </li>
                    <li style="width:112px;margin-top:25px">                	
                        <p>
                            <a title="接手，并完成任务可获得存款和货币。" onclick="" class="jieshoubtn"></a>
                        </p>
                    </li>
                </ul>
            </div><!--task_list_content end-->
            <div class="clear"></div>
			<div class="task_list_content">
                <ul class="clearfix">
                    <li style="width:26px; margin-top:28px;"><%= image_tag 'task3day.png' %></li>
                    <li style="width:200px; margin-top:21px;">
                        <p style="font-size:12px; font-weight:bold;">2013112717143348566317611</p>
                        <p style="color:#848484; font-size:10px;">post time:2013-11-27 17:15:00</p>
                    </li>
                    <li style="width:125px; margin-top:21px">
                        <p><a target="_bank" href="" style="color:#3372a2;">yjx815</a></p>
                        <p>
                        <a href="" target="_blank" title="会员等级积分：1970">
                        <%= image_tag 'jifenicon6.gif' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:107px; margin-top:21px">
                        <p><em>123</em>元</p>
                        <p>13.5谷粒</p>
                    </li>
                    <li style="width:240px; margin-top:15px">
                        <p style="color:#009900;">3天后带字好评(+3倍谷粒)</p>
                        <p style="margin-top:5px;">
                        <a href="" target="_blank">
                        <%= image_tag 'task_lai.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为来路搜索进店任务' %>
                        <%= image_tag 'task_shen.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为审核任务，审核通过后方能看到链接' %>
                        <%= image_tag 'task_shi.jpg', :border => 0, :alt => '限制接手买号必须是通过了支付宝实名认证的才可接手此任务，需额外支付0.5个谷粒给接手方' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:156px; margin-top:30px">                       	
                        <p>等待任务接手人...</p>
            
                    </li>
                    <li style="width:112px;margin-top:25px">                	
                        <p>
                        	<a title="接手，并完成任务可获得存款和货币。" onclick="" class="jieshoubtn"></a>
                        </p>
                    </li>
                </ul>
            </div><!--task_list_content end-->
            <div class="clear"></div>
            <div class="task_list_content task_list_content2">
                <ul class="clearfix">
                    <li style="width:26px; margin-top:28px;"><%= image_tag 'task3day.png' %></li>
                    <li style="width:200px; margin-top:21px;">
                        <p style="font-size:12px; font-weight:bold;">2013112717143348566317611</p>
                        <p style="color:#848484; font-size:10px;">post time:2013-11-27 17:15:00</p>
                    </li>
                    <li style="width:125px; margin-top:21px">
                        <p><a target="_bank" href="" style="color:#3372a2;">yjx815</a></p>
                        <p>
                        <a href="" target="_blank" title="会员等级积分：1970">
                        <%= image_tag 'jifenicon6.gif' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:107px; margin-top:21px">
                        <p><em>123</em>元</p>
                        <p>13.5谷粒</p>
                    </li>
                    <li style="width:240px; margin-top:15px">
                        <p style="color:#009900;">3天后带字好评(+3倍谷粒)</p>
                        <p style="margin-top:5px;">
                        <a href="" target="_blank">
                        <%= image_tag 'task_lai.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为来路搜索进店任务' %>
                        <%= image_tag 'task_shen.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为审核任务，审核通过后方能看到链接' %>
                        <%= image_tag 'task_shi.jpg', :border => 0, :alt => '限制接手买号必须是通过了支付宝实名认证的才可接手此任务，需额外支付0.5个谷粒给接手方' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:156px; margin-top:30px">                       	
                        <p>等待任务接手人...</p>
            
                    </li>
                    <li style="width:112px;margin-top:25px">                	
                        <p>
                            <a title="接手，并完成任务可获得存款和货币。" onclick="" class="jieshoubtn"></a>
                        </p>
                    </li>
                </ul>
            </div><!--task_list_content end-->
            <div class="clear"></div>
			<div class="task_list_content">
                <ul class="clearfix">
                    <li style="width:26px; margin-top:28px;"><%= image_tag 'task3day.png' %></li>
                    <li style="width:200px; margin-top:21px;">
                        <p style="font-size:12px; font-weight:bold;">2013112717143348566317611</p>
                        <p style="color:#848484; font-size:10px;">post time:2013-11-27 17:15:00</p>
                    </li>
                    <li style="width:125px; margin-top:21px">
                        <p><a target="_bank" href="" style="color:#3372a2;">yjx815</a></p>
                        <p>
                        <a href="" target="_blank" title="会员等级积分：1970">
                        <%= image_tag 'jifenicon6.gif' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:107px; margin-top:21px">
                        <p><em>123</em>元</p>
                        <p>13.5谷粒</p>
                    </li>
                    <li style="width:240px; margin-top:15px">
                        <p style="color:#009900;">3天后带字好评(+3倍谷粒)</p>
                        <p style="margin-top:5px;">
                        <a href="" target="_blank">
                        <%= image_tag 'task_lai.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为来路搜索进店任务' %>
                        <%= image_tag 'task_shen.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为审核任务，审核通过后方能看到链接' %>
                        <%= image_tag 'task_shi.jpg', :border => 0, :alt => '限制接手买号必须是通过了支付宝实名认证的才可接手此任务，需额外支付0.5个谷粒给接手方' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:156px; margin-top:30px">                       	
                        <p>等待任务接手人...</p>
            
                    </li>
                    <li style="width:112px;margin-top:25px">                	
                        <p>
                        	<a title="接手，并完成任务可获得存款和货币。" onclick="" class="jieshoubtn"></a>
                        </p>
                    </li>
                </ul>
            </div><!--task_list_content end-->
            <div class="clear"></div>
            <div class="task_list_content task_list_content2">
                <ul class="clearfix">
                    <li style="width:26px; margin-top:28px;"><%= image_tag 'task3day.png' %></li>
                    <li style="width:200px; margin-top:21px;">
                        <p style="font-size:12px; font-weight:bold;">2013112717143348566317611</p>
                        <p style="color:#848484; font-size:10px;">post time:2013-11-27 17:15:00</p>
                    </li>
                    <li style="width:125px; margin-top:21px">
                        <p><a target="_bank" href="" style="color:#3372a2;">yjx815</a></p>
                        <p>
                        <a href="" target="_blank" title="会员等级积分：1970">
                        <%= image_tag 'jifenicon6.gif' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:107px; margin-top:21px">
                        <p><em>123</em>元</p>
                        <p>13.5谷粒</p>
                    </li>
                    <li style="width:240px; margin-top:15px">
                        <p style="color:#009900;">3天后带字好评(+3倍谷粒)</p>
                        <p style="margin-top:5px;">
                        <a href="" target="_blank">
                        <%= image_tag 'task_lai.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为来路搜索进店任务' %>
                        <%= image_tag 'task_shen.jpg', :border => 0, :style => 'margin-right:3px;', :alt => '此任务为审核任务，审核通过后方能看到链接' %>
                        <%= image_tag 'task_shi.jpg', :border => 0, :alt => '限制接手买号必须是通过了支付宝实名认证的才可接手此任务，需额外支付0.5个谷粒给接手方' %>
                        </a>
                        </p>
                    </li>
                    <li style="width:156px; margin-top:30px">                       	
                        <p>等待任务接手人...</p>
            
                    </li>
                    <li style="width:112px;margin-top:25px">                	
                        <p>
                            <a title="接手，并完成任务可获得存款和货币。" onclick="" class="jieshoubtn"></a>
                        </p>
                    </li>
                </ul>
            </div><!--task_list_content end-->
            <div class="clear"></div>
            <div class="pager_wrap">
                <div id="pagination" class="pagination left">
                    <a href="#" class="prev">&lt;</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <span class="current">3</span>
                    <a href="#">4</a><a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    <a href="#">8</a>
                    <span>...</span>
                    <a href="#">9</a>
                    <a href="#">10</a>
                    <a href="#" class="next">&gt;</a>
                </div>
                <div class="right jumppage"><span>跳转：<input size="3" type="text" /></span><span>页</span><a href="">GO</a></div>
            </div><!--pager_wrap-->
		</div>
	</div>
</body>
</html>
