<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>商家互动平台</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#flowimg').jshowoff({changeSpeed: 1200,speed: 6000,links: true,controls: false,effect: 'slideLeft',hoverPause:false});
    });
  </script>
</head>
<body>
  <!--header begin-->
  <div id="header">
      <!--header_nav begin-->
      <div id="header_nav">
          <div class="bound">
              <div id="head_nav_left" class="left">亲，欢迎来到Company！ 请
              <%= link_to "登录", {:controller => 'welcome', :action => 'index'}, class: "orange_link" %> |
              <%= link_to "免费注册", {:controller => 'users', :action => 'new'}, class: "orange_link" %>
              </div>
              <div id="head_nav_right" class="right">
              <%= link_to "我的帐号", {:controller => 'admin', :action => 'center'}, class: "red_link" %> |
              <%= link_to "任务中心", "" %> |
              <%= link_to "推广赚钱", "" %> |
              <%= link_to "帮助中心", "" %> |
              <%= link_to "礼品专区", "" %>
              </div>
            </div>
        </div>
        <!--header_nav end-->
        <!--header_logo begin-->
        <div id="head_logo" class="bound clearfix">
          <div id="head_logo_area" class="left">
            <%= link_to(image_tag("logo.png", :alt => "company"), "") %>
          </div>
          <div id="head_logo_other" class=" right">
            <%= link_to(image_tag("headad.jpg", :alt => "ad"), "") %>
          </div>
        </div>
        <!--header_logo end-->
        <!-- nav_wrap begin -->
        <div id="nav_wrap">
          <div id="nav" class="bound clearfix">
              <ul>
                  <li><%= link_to "首页", "" , class: "current" %></li>
                  <li><%= link_to "淘宝互动", "" %></li>
                  <li><%= link_to "拍拍互动", "" %></li>
                  <li><%= link_to "货币购买", "" %></li>
                  <li><%= link_to "服务交易", "" %></li>
                  <li><%= link_to "卖家服务", "" %></li>
                  <li><%= link_to "家园", "" %></li>
                </ul>
            </div>
        </div>
        <!-- nav_wrap end -->
    </div>
    <!--header end-->

<%= yield %>

    <!--footer begin-->
    <div id="footer" class="clearfix">
      <div id="footer_wrap" class="bound">
            <div id="footer_nav" class="left">
                <%= link_to "首页", "" %> |
                <%= link_to "关于我们", "" %> |
                <%= link_to "媒体报道", "" %> |
                <%= link_to "网站规则", "" %> |
                <%= link_to "帮助中心", "" %> |
                <%= link_to "资料查询", "" %>
            </div>
            <div id="footer_copyright" class="right">粤ICP备13034299号 Copyright © 2009 - 2013 @ ALL Rights Reserved </div>
        </div>
    </div>
    <!--footer end-->
</body>
</html>
